.form__section {
	display: flex;
	flex-wrap: wrap;
}

.form__section--button {
	justify-content: center;
	align-content: center;
	margin: 20px;
	background-color: teal;
	color: white;
	border: none;
	padding: 10px;
}

.form__header {
    border-bottom: 1px solid #eee;
	margin: 0px;
	padding: 15px;
}

.form__section--input {
	flex-grow: 1;
	margin: 20px;
	padding: 10px;
}

.form__hr {
	border: 1px solid #eee;
	margin: 0px;
}

.form__tasks {
    padding: 0px;
}

@media (max-width: 767px) {

	.container {
		margin: 5px;
	}

	.header {
		margin: 25px 5px 20px 5px;
	}

    .form__section--button {
        width: 100%;
    }

	.form__section--input {
		width: 100%;
	}
}