.form {
	display: flex;
	flex-wrap: wrap;
}

.form__button {
	justify-content: center;
	align-content: center;
	margin: 20px;
	background-color: teal;
	color: white;
	border: none;
	padding: 10px;
}

.form__input {
	flex-grow: 1;
	margin: 20px;
	padding: 10px;
}

.form__tasks {
    padding: 0px;
}

@media (max-width: 767px) {

	.container {
		margin: 5px;
	}

	.header {
		margin: 25px 5px 20px 5px;
	}

    .form__button {
        width: 100%;
    }

	.form__input {
		width: 100%;
	}
}